/* ====== MAIN SETINGS ===== */
@font-face {
    font-family: AllText;
    src: url("./fonts/Rosario-Regular.ttf");
}

@font-face {
    font-family: TitelText;
    src: url("./fonts/OleoScript-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* _______________________________________ PAGES SETTINGS _______________________________________ */
/* ====== Home page CSS setings ===== */
.container {
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    display: flex;
}

.text-background {
    background-color: #BCBD8B;
    border-top: 10px solid #717744;
    border-bottom: 10px solid #717744;
    width: 100%;
    height: 617px;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100%;
}

/* _______________________________________ Menu and Others SETTINGS _______________________________________ */
/* ====== Menu CSS setings ===== */
.menu-icon{
    width: 22px;
    height: 22px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: absolute;
    top: 15px;
    left: 15px;
}
.menu-icon .box {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background-color: #4B652D;
}

.menu-icon .cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.menu-icon .cover:hover {
    cursor: pointer;
}

.top-boxs,
.bottom-boxs {
    width: 100%;
    display: flex;
    gap: 2px;
}


.overlayer {
    position: fixed;
    inset: 0;
    background: #BCBD8B90;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}

.overlayer.active {
    opacity: 1;
    pointer-events: all;
}

.menu-container {
    width: 250px;
    height: 852px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #717744;
    z-index: 1;
    box-shadow: 8px 6px 15px #464545;
    padding: 10px;
    display: flex;
    flex-direction: column;

    transform: translateX(-105%);
    transition: transform 0.5s ease;
}

.menu-container.active{
    transform: translateX(0);
}

.menu-title,
.contacts-title {
    font-size: 32px;
    font-family: TitelText;
    color: #FFFFFF;
    letter-spacing: 2px;
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
    margin-top: 30px;
}

.navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 50px;
}

.menu-item,
.contact-item {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: #BCBD8B;
    border-radius: 8px;
}

.menu-item:hover {
    cursor: pointer;
    background-color: #E9EDC9;
}

.menu-item a {
    font-size: 20px;
    font-family: AllText;
    font-weight: bold;
    color: #582F0E;
    text-decoration: none;
}

.contacts {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.icons-links {
    display: flex;
    flex-direction: row;
}

.cover-icones {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 39px;
    gap: 12px;
    background-color: #4B652D;
    height: 351px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.cover-icones img {
    width: 40px;
    height: 40px;
}

.contact-list {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 60px;
}

.contact-item {
    border-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    gap: 20px;
    padding-left: 0px;
    padding: 5px;
    text-align: center;
}

.contact-item:hover {
    cursor: pointer;
    background-color: #E9EDC9;
}

.contact-item a {
    font-size: 16px;
    font-family: AllText;
    font-weight: bold;
    font-style: italic;
    color: #582F0E;
    text-decoration: none;
    align-items: end;
    width: 100%;
}